
/*
DG Styles
*/

/* TYPOGRAPHY - HEADING */
h1.page-title {
	font-family:'Hello Beautiful W00';
	font-size: 8rem !important;	
}

h3.site-title {
/* 	overflow: visible !important; */
	font-family:'Hello Beautiful W00';
	font-size: 4rem !important;
	font-weight: normal !important;
	color: #392f28 !important;
	font-weight: 500 !important;
}

/* WIDGET AREA */

h3.widget-title {
	text-align: center;
}

.widget_setmore_plus_widget {
	margin: 0 auto !important;
	text-align: center !important;	
}

.aux-item-content {
/* 	font-weight: 500 !important; */
	font-size: 1em !important;
}

.page-title-group {
	background-color: transparent !important;
}	

.page-header {
	padding: 50px 0 50px 0 !important;
	margin: 0px 0 30px 0 !important;
}	

div.aux-contact-details li.email {
	margin: 0 auto!;		
}


/* FOOTER	 */
#sitefooter	{
	height: 80px !important;
	text-align: center !important;
	color: white !important;
}

/*
Services
*/

.services-option {
	width: 45rem;
	max-width: 45rem;
	height: 100px;
	margin: 0 auto;
	padding-top: 20px;
/*
    border: 2px solid #392f28;
    border-radius: 5px;
*/
    text-align: center;
	background-color: #EEE;
}

.services-option-two, .services-option-three {
	margin-top: 1.5em;
}

div.services-option h4  {
	margin: 4px !important;	
}

.packages-1 {
  flex: 1 0 auto; 
  margin: 0.75%;
}
.packages-2 {
  flex: 1 0 auto;
  margin: 0.75%;
}
.packages-3 {
  flex: 1 0 auto;
  margin: 0.75%;
}
.appointment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.appointment-button {
  flex: 1 0 auto;
  width: 20rem;
  max-width: 25rem;
  text-align: center;
  background-color: #835F7E;
  color: white;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 1.5rem;
  /*margin: 0% 0% 0% 1.5%;*/
  border: 2px solid #392f28;
  border-radius: 5px;
}
.appointment-button:hover {
  background-color: #a45783;
}

/*
Blog Page Slider
*/

.aux-widget-post-slider .aux-latest-posts-slider .aux-info-container {
	top: 90% !important;
	padding: 2em !important;
}

.aux-slide-info {
	color: #835F7E !important;	
}


/*
Setmore
*/

.setmore_plus_widget-2 {
	margin: 0 auto !important;
	text-align: center !important;
}

.setmore {
	width: 300px !important;
	height: 120px !important;
	color: white !important;
	background-color: #835F7E !important;
	text-align: center !important;
	padding: 15px !important
}

/*
WOO COMMERCE 
*/

h1.product_title {
	font-size: 1.5rem;
}

/* NOT SURE IF THIS BELONGS TO WOO COMMERCE OR ORPHANED FROM SERVICES */
.options {
	width: 400px;
	height: 150px;
	border: solid grey 3px;
	margin: 0 auto;
}