#sfsi-premium-social-media .inside{min-height: 950px;overflow: hidden;}
.sfsi_custom_social_data_container{float:left;width: 23%;display: inline-block;}
.imgContainer img{width: 100%;height: 323px;}
.imgUploadBtn{width: auto;}
img#sfsi-social-media-image-preview {}  
input#sfsi-social-media-image-button,input#sfsi-social-pinterest-image-button {width: 100%;margin-top: 10px;min-height: 45px;background: #45a745;color: white;font-size: 16px;}
.imgTxt{ margin-top: 10px;width: 100%;}
.imgTopTxt{  font-size: 14px;padding-bottom: 10px;}
.imgTopTxt strong {font-size: 17px;font-family: inherit;}
.sfsi_custom_social_titlePlusDescription { margin-left: 30px; width: 70%;float: left; margin-top:7px;}
.sfsi_titlePlusDescription{ margin-left: 30px; width: 100%;float: left;}
.sfsi_custom_social_data_title{float: left;width: 100%;}
.sfsi_custom_social_data_description{margin-top: 40px;float: left;}
.social_description {width: 74%;float:left;margin-top: 10px;}
.sfsi_textarea{ width: 100%;min-height: 84px; }
.remaining_char_box { background: #666;width: 25%;height: 34px;float: left;color: white;text-align: left;padding: 9px 0px 0px 8px;margin-top: 10px;font-weight: 600;}
.social_description_container{width: 100%;}
.social_data_container_first{float: left;}
.social_data_container_second{float: left;margin-top: 25px;}
.social_description_hint {float: left;width: 74%;margin-top:10px;}

/* CSS for notice if usm is disabled for adding open graph meta tags */
.sfsi_disable_usm_ogtags_notice {background-color: #fde9d8;float: left;padding: 10px;margin: 4px 0 20px 0;font-size: 14px;line-height: 25px;}
a.sfsi_disable_usm_ogtags_setting_change {color: #444;cursor: pointer;font-weight: 600;}  