.b2s-dashboard-h4{
    font-weight: 700;
    font-size: 20px !important;
}
.b2s-dashboard-h5{
    font-size: 26px;  
}
.b2s-dashboard-h6{
    font-size: 18px;  
}
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto !important;
    min-width: 250px;
}
@media(max-width: 430px) {
    .form-inline .form-control {
        display: inline-block;
        vertical-align: middle;
        width: auto !important;
        min-width: 100px;
    }
}
@media(min-width: 1440px) {
    .b2s-btn-width-70{
        width: 70% !important; 
    }
}

.b2s-info-sm{
    margin-top: 5px;
    font-size: 9px;
}

.b2s-btn-link{
    text-decoration: underline;
}
.thumbnail {
    border:0 none !important;
    margin-bottom: 0px !important;
}

.b2s-feature-img-with-90{
    max-width: 90px !important;
}

.label {
    font-size: 90% !important;
}
.b2s-padding-bottom-50{
    margin-bottom: 50px;
}

.b2s-wdith-35{
    width: 35px;
}

.b2s-well{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.b2s-loading-area-faq{
    text-align: center;
}

.b2s-dashoard-btn-phone{
    cursor: default !important;
}

/* Widgets */

/* Content-Widget */
.b2s-widget-block-image-content{
    display: flex;
    font-size: 22px;
    line-height: 1.2;
}
.b2s-widget-block-image-content > img{
    max-height: 150px;
    max-width: 150px;
    margin-right: 10px;
}
body .form-inline{
    display: block;
}
.b2s-dashboard-multi-widget-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}
.b2s-dashboard-multi-widget-inner .glyphicon-chevron-left{
    flex: 0 0 15px;
    font-size: 30px;
    cursor:pointer
}
.b2s-dashboard-multi-widget-inner .glyphicon-chevron-right {
    flex: 0 0 15px;
    font-size: 30px;
    cursor:pointer
}
.b2s-dashboard-multi-widget-content{
    flex: 0 1 450px;
}
@media(max-width: 530px)
{
    .b2s-widget-block-image-content{
        display: block;
    }
    .b2s-widget-block-image-content > img{
        margin: 5px auto;
        display: block;
        height: auto;
    }
    .b2s-widget-block-image-content > div > .btn-primary{
        display: block;
    }

}

/* Newsletter-Widget*/
@media(max-width: 768px)
{
    #b2snewsletter.form-inline input{
        width: 100% !important;
        margin-bottom: 15px;
    }
    #b2snewsletter.form-inline a{
        width: auto;
    }
}

/* Posts-Widget */
.btn-link.b2s-post-btn .label{
    font-size: 16px !important;
}

.b2s-post-btn{
    font-size: 18px !important;
}

ul.b2s-sort-result-item-area{
    margin-bottom: 0;
}
@media(max-width: 380px)
{
    .btn-link.b2s-post-btn .label{
        font-size: 9px !important;
    }
}
@media(max-width: 350px)
{
    .btn-link.b2s-post-btn.b2s-btn-disabled{
        display: none;
    }
}

/* Support */
.b2s-faq-content a{
    color:#79B232;
}
#b2s-faq-button{
    float:right;
}
.b2sDetailsSchedPostBtn{
    display: none !important;
}

/* Aktivität */
#b2s-activity-date-picker{
    width: 85px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Tutorial */
#b2s_tutorial_link {
    float: right;
    margin-top: 27px;
}