/*!>>>>>>>>>>>>>>>>>>>>>>>>> #news <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.single-news .entry-meta {
  position: relative;
  border: solid 1px #DEDEDE;
  border-width: 1px 0;
  min-height: 118px;
}
.single-news .entry-meta:after {
  content: "";
  display: table;
  clear: both;
}
@media print {
  .single-news .entry-meta {
    display: none;
  }
}
.single-news footer.entry-meta .entry-tax {
  margin: 3.125em 0;
  max-width: 70%;
  max-width: calc(100% - 155px);
  font-style: italic;
  font-size: 0.875em;
  color: #AAA;
}
.single-news footer.entry-meta .entry-tax a {
  color: #3D3D3D;
  text-decoration: underline;
  font-weight: 600;
}
.single-news footer.entry-meta .entry-tax a:hover {
  color: #1bb0ce;
}
.single-news .aux-post-share {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}
.single-news .aux-post-share .widget-socials {
  display: inline-block;
  vertical-align: bottom;
}
.single-news .aux-post-share .aux-socials {
  font-size: 0.875em;
  font-weight: 600;
  color: #3D3D3D;
}
.single-news .aux-post-share a:hover {
  color: #1bb0ce;
}

.aux-widget-recent-news .auxin-news-element .hentry {
  margin: 50px 0;
}
.aux-widget-recent-news .auxin-news-element .hentry:first-child {
  margin-top: 0;
}
.aux-widget-recent-news .auxin-news-element .hentry:last-child {
  margin-bottom: 0;
}
.aux-widget-recent-news .auxin-news-element .hentry .aux-1-3 {
  margin-bottom: 0;
}
.aux-widget-recent-news .auxin-news-element .aux-news-element-header .auxnew-header-col {
  margin-bottom: 35px;
}
.aux-widget-recent-news .auxin-news-element .aux-news-element-title {
  margin-top: 0;
  margin-bottom: 0;
}
.aux-widget-recent-news .auxin-news-element .auxnews-tax-filters .aux-filters ul {
  margin-bottom: 0;
}
.aux-widget-recent-news .auxin-news-element .auxnew-big-post {
  margin-top: 32px;
}
.aux-widget-recent-news .auxin-news-element .auxnew-big-post .entry-media {
  margin-bottom: 2.75em;
}
.aux-widget-recent-news .auxin-news-element .auxnew-big-post .entry-main .entry-header {
  margin-bottom: 18px;
}
.aux-widget-recent-news .auxin-news-element .entry-media {
  margin-bottom: 0em;
}
.aux-widget-recent-news .auxin-news-element .entry-main {
  margin-bottom: 0;
}
.aux-widget-recent-news .auxin-news-element .entry-main .entry-header {
  margin-bottom: 10px;
}
.aux-widget-recent-news .auxin-news-element .entry-main .entry-header .entry-title {
  font-size: 1.375em;
}
.aux-widget-recent-news .auxin-news-element .entry-main .entry-header .entry-title .aux-h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.aux-widget-recent-news .auxin-news-element .entry-main .entry-info {
  margin-bottom: 0.625em;
  font-style: italic;
}
.aux-widget-recent-news .auxin-news-element .entry-main .entry-info .no-bullet::before {
  content: none;
}
.aux-widget-recent-news .auxin-news-element .entry-main .entry-info .entry-tax a {
  color: #1bb0ce;
  margin-right: 0.5em;
}
.aux-widget-recent-news .auxin-news-element .entry-main .entry-info .entry-date::before,
.aux-widget-recent-news .auxin-news-element .entry-main .entry-info .entry-author::before {
  content: "";
  position: relative;
  top: -1px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 0.6em;
  vertical-align: middle;
  background-color: #BBB;
}
.aux-widget-recent-news .auxin-news-element .aux-news-side .auxnew-big-post {
  margin-top: 32px;
}
.aux-widget-recent-news .auxin-news-element .aux-news-side .auxnew-big-post .entry-media {
  margin-bottom: 2em;
}
.aux-widget-recent-news .auxin-news-element .aux-news-side .auxnew-big-post .entry-main .entry-header {
  margin-bottom: 18px;
}
.aux-widget-recent-news .auxin-news-element .aux-news-side .auxnew-main-post {
  padding-right: 1.5em;
}
.aux-widget-recent-news .auxin-news-element .aux-news-side .auxnew-side-posts {
  margin-top: 32px;
  padding-left: 1.5em;
}

.post-type-archive-news a {
  color: inherit;
}
.post-type-archive-news .auxnew-big-sep {
  margin: 0;
}
.post-type-archive-news .auxin-news-element {
  margin-bottom: 4em;
}
.post-type-archive-news .auxin-news-element .hentry {
  margin: 50px 0;
}
.post-type-archive-news .auxin-news-element .hentry:first-child {
  margin-top: 0;
}
.post-type-archive-news .auxin-news-element .hentry:last-child {
  margin-bottom: 0;
}
.post-type-archive-news .auxin-news-element .hentry .aux-1-3 {
  margin-bottom: 0;
}
.post-type-archive-news .auxin-news-element .aux-news-element-header .auxnew-header-col {
  margin-bottom: 35px;
}
.post-type-archive-news .auxin-news-element .aux-news-element-title {
  margin-top: 0;
  margin-bottom: 0;
}
.post-type-archive-news .auxin-news-element .auxnews-tax-filters .aux-filters ul {
  margin-bottom: 0;
}
.post-type-archive-news .auxin-news-element .auxnew-big-post {
  margin-top: 32px;
}
.post-type-archive-news .auxin-news-element .auxnew-big-post .entry-media {
  margin-bottom: 2.75em;
}
.post-type-archive-news .auxin-news-element .auxnew-big-post .entry-main .entry-header {
  margin-bottom: 18px;
}
.post-type-archive-news .auxin-news-element .auxnew-big-post .entry-main .entry-content {
  margin-bottom: 2.5em;
}
.post-type-archive-news .auxin-news-element .entry-media {
  margin-bottom: 0em;
}
.post-type-archive-news .auxin-news-element .entry-main {
  margin-bottom: 0em;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-header {
  margin-bottom: 10px;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-header .entry-title {
  font-size: 1.375em;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-header .entry-title .aux-h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-info {
  margin-bottom: 0.625em;
  font-style: italic;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-info .no-bullet::before {
  content: none;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-info .entry-tax {
  margin-left: 0;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-info .entry-tax a {
  color: #1bb0ce;
  margin-right: 0.5em;
}
.post-type-archive-news .auxin-news-element .entry-main .entry-info .entry-date::before,
.post-type-archive-news .auxin-news-element .entry-main .entry-info .entry-author::before {
  content: "";
  position: relative;
  top: -1px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 0.6em;
  vertical-align: middle;
  background-color: #BBB;
}
.post-type-archive-news .auxin-news-element .aux-news-side .auxnew-big-post {
  margin-top: 32px;
}
.post-type-archive-news .auxin-news-element .aux-news-side .auxnew-big-post .entry-media {
  margin-bottom: 2em;
}
.post-type-archive-news .auxin-news-element .aux-news-side .auxnew-big-post .entry-main .entry-header {
  margin-bottom: 18px;
}
.post-type-archive-news .auxin-news-element .aux-news-side .auxnew-main-post {
  padding-right: 1.5em;
}
.post-type-archive-news .auxin-news-element .aux-news-side .auxnew-side-posts {
  margin-top: 32px;
  padding-left: 1.5em;
}
