/*!>>>>>>>>>>>>>>>>>>>>>>>>> #Shop <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/**
 * Product page
 */
.single-product {
  /*************** Slider Template ***************/
  /*************** End of Classic & Slider Template ***************/
  /*************** Grid Template ***************/
  /*************** End of Grid Template ***************/
  /*************** Wide Template ***************/
  /*************** End of Wide Template ***************/
  /*************** Wide Center Template ***************/
  /*************** End of Wide Center Template ***************/
  /*************** Sticky Template ***************/
  /*************** End of Sticky Template ***************/
  /*************** Stack Template ***************/
  /*************** End of Stack Template ***************/
}
.single-product .auxshp-product-main {
  position: relative;
  margin-left: -35px;
  margin-right: -35px;
}
.single-product .entry-title {
  font-weight: 600;
  line-height: 1;
  font-size: 1.75em;
  padding-right: 3em;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product .entry-title {
    padding-right: 0;
  }
}
.single-product .auxshp-default-product-images {
  float: left;
  width: 50%;
  margin-bottom: 4em;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product .auxshp-default-product-images {
    float: none;
    width: 100%;
  }
}
.single-product .auxshp-default-product-images .images {
  width: 100%;
  margin-bottom: 15px;
  float: none;
}
.single-product .images {
  float: left;
  width: 50%;
  margin-bottom: 4em;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product .images {
    width: 100%;
    margin-bottom: 4em;
  }
}
.single-product .images img {
  width: 100%;
}
.single-product .images .flex-control-thumbs {
  overflow: hidden;
  zoom: 1;
  margin: 0;
  padding: 0;
}
.single-product .images .flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
  list-style: none;
}
.single-product .images .flex-control-thumbs li img {
  cursor: pointer;
  opacity: .5;
  margin: 0;
}
.single-product .images .flex-control-thumbs li img.flex-active, .single-product .images .flex-control-thumbs li img:hover {
  opacity: 1;
}
.single-product .thumbnails figure {
  display: inline-block;
  margin: 0 15px 15px 0;
}
.single-product .summary {
  float: right;
  width: 50%;
  margin-bottom: 4em;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product .summary {
    width: 100%;
  }
}
.single-product .summary div[itemprop="description"] {
  margin-bottom: 2.6875em;
}
.single-product .widget-toggle .active .toggle-header {
  border-bottom: none;
}
.single-product .widget-toggle table p {
  margin: 0;
}
.single-product .variations .aux-dropdown {
  display: inline-block;
}
.single-product .variations .aux-dropdown.aux-large select {
  font-size: 100%;
  padding-top: 0.94em;
  padding-bottom: 0.94em;
  border-color: #BBB;
}
.single-product .variations .aux-dropdown:after {
  content: '';
  position: absolute;
  right: 1.4em;
  left: auto;
  top: 50%;
  background-image: url(images/svg/symbols.svg);
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 8px;
  border: none;
  background-position: 0px -522px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.single-product .variations .reset_variations {
  margin-left: 1em;
}
.single-product .variations .auxshp-label {
  margin-bottom: 0.5em;
}
.single-product .woocommerce-variation-price .price {
  display: block;
  margin-bottom: 1em;
}
.single-product .woocommerce-variation-price .price .amount {
  font-size: 1.75em;
  font-weight: 600;
}
.single-product .woocommerce-variation-price .price ins .amount {
  font-size: 1.75em;
  font-weight: 600;
}
.single-product .woocommerce-variation-price .price del .amount {
  font-size: 1em;
  font-weight: 500;
}
.single-product .cart {
  margin-bottom: 34px;
}
.single-product .cart .auxshp-add-to-cart,
.single-product .cart .quantity {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 16px;
}
.single-product .cart .auxshp-add-to-cart {
  padding: 2.0625em 4.4375em;
}
.single-product .cart .quantity {
  float: left;
  margin-right: 1.25em;
}
.single-product .cart .auxshp-variations {
  margin-bottom: 1.25em;
}
.single-product .auxshp-label {
  line-height: 1;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.2em;
  display: block;
  color: #333;
}
.single-product .auxshp-label.label-default {
  font-size: 1em;
}
.single-product .auxshp-sw-wrapper {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  padding: 2.125em 0 2em 0;
  margin-bottom: 37px;
  font-weight: 800;
  font-size: 0.875em;
  line-height: 0.875;
}
.single-product .auxshp-sw-wrapper .auxshp-wishlist-wrapper,
.single-product .auxshp-sw-wrapper .auxshp-share-wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
}
.single-product .auxshp-sw-wrapper .auxshp-wishlist-wrapper .auxshp-sw-icon,
.single-product .auxshp-sw-wrapper .auxshp-share-wrapper .auxshp-sw-icon {
  margin-right: 3px;
}
.single-product .auxshp-sw-wrapper .auxshp-wishlist-wrapper span,
.single-product .auxshp-sw-wrapper .auxshp-share-wrapper span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.single-product .auxshp-sw-wrapper .auxshp-wishlist-wrapper span.auxshp-wishlist-text, .single-product .auxshp-sw-wrapper .auxshp-wishlist-wrapper span.auxshp-share-text,
.single-product .auxshp-sw-wrapper .auxshp-share-wrapper span.auxshp-wishlist-text,
.single-product .auxshp-sw-wrapper .auxshp-share-wrapper span.auxshp-share-text {
  margin-top: 1px;
}
.single-product .auxshp-sw-wrapper .auxshp-wishlist-wrapper {
  margin-right: 1.75em;
}
.single-product .product_meta > div {
  margin-bottom: 26px;
}
.single-product .product_meta .auxshp-meta-terms a {
  color: inherit;
}
.single-product.auxshp-template-slider .woocommerce-tabs .tabs {
  border-bottom: none;
}
.single-product.auxshp-template-slider .woocommerce-tabs .tabs-content {
  border: none;
}
.single-product.auxshp-template-grid .summary {
  padding-left: 25px;
}
.single-product.auxshp-template-grid .images {
  padding-right: 25px;
}
.single-product.auxshp-template-grid .auxshp-product-grid {
  position: relative;
  margin-bottom: 4em;
}
.single-product.auxshp-template-grid .auxshp-product-grid .aux-isotope-ready .aux-col {
  margin-top: 0;
}
.single-product.auxshp-template-grid .auxshp-product-grid .aux-items-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}
.single-product.auxshp-template-grid .auxshp-product-grid .aux-items-loading.aux-lodaing-visible {
  opacity: 1;
}
.single-product.auxshp-template-grid .auxshp-product-grid .aux-items-loading.aux-loading-hide {
  opacity: 0;
}
.single-product.auxshp-template-grid .auxshp-product-grid .aux-items-loading .aux-loading-loop {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.single-product.auxshp-template-grid .auxshp-product-grid .aux-isotope-layout {
  max-height: 500px;
  clear: both;
}
.single-product.auxshp-template-grid .auxshp-product-grid .aux-isotope-layout.aux-isotope-ready {
  max-height: none;
}
.single-product.auxshp-template-wide .summary {
  float: left;
  width: 48%;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product.auxshp-template-wide .summary {
    float: none;
    width: 100%;
  }
}
.single-product.auxshp-template-wide .summary .onsale {
  top: 30px;
  right: 30px;
}
.single-product.auxshp-template-wide .auxshp-default-product-images {
  float: none;
  width: 100%;
}
.single-product.auxshp-template-wide .images {
  float: none;
  width: 100%;
}
.single-product.auxshp-template-wide .widget-toggle {
  float: right;
  width: 50%;
  margin-bottom: 4em;
  padding-right: 35px;
  padding-left: 35px;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product.auxshp-template-wide .widget-toggle {
    float: none;
    width: 100%;
  }
}
.single-product.auxshp-template-wide-center .entry-title {
  padding-top: 3px;
  padding-right: 0;
}
.single-product.auxshp-template-wide-center .summary {
  float: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product.auxshp-template-wide-center .summary {
    float: none;
    width: 100%;
  }
}
.single-product.auxshp-template-wide-center .summary .onsale {
  top: 30px;
  right: 30px;
}
.single-product.auxshp-template-wide-center .auxshp-default-product-images {
  float: none;
  width: 100%;
}
.single-product.auxshp-template-wide-center .images {
  float: none;
  width: 100%;
}
.single-product.auxshp-template-wide-center .price {
  padding-top: 2px;
  padding-right: 0;
  margin-bottom: 30px;
}
.single-product.auxshp-template-wide-center .price ins, .single-product.auxshp-template-wide-center .price del {
  display: block;
}
.single-product.auxshp-template-wide-center .cart .auxshp-variations {
  display: inline-block;
}
.single-product.auxshp-template-wide-center .cart .auxshp-variations .auxshp-label {
  text-align: left;
}
.single-product.auxshp-template-wide-center .cart .quantity {
  float: none;
}
.single-product.auxshp-template-wide-center .woocommerce-product-rating .star-rating {
  float: none;
  margin: 0 auto;
}
.single-product.auxshp-template-wide-center .woocommerce-tabs {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4em;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product.auxshp-template-wide-center .woocommerce-tabs {
    width: 100%;
  }
}
.single-product.auxshp-template-wide-center .woocommerce-tabs .tabs li {
  display: table-cell;
  float: none;
}
.single-product.auxshp-template-wide-center .product_meta {
  margin-bottom: 4em;
}
.single-product.auxshp-template-wide-center .product_meta > div {
  margin-bottom: 0;
}
.single-product.auxshp-template-wide-center .product_meta .auxshp-meta-section {
  display: inline-block;
}
.single-product.auxshp-template-wide-center .product_meta .auxshp-meta-section .auxshp-label {
  display: inline-block;
  margin-left: 0.3125em;
  margin-right: 0.125em;
}
.single-product.auxshp-template-wide-center .product_meta .auxshp-meta-section .auxshp-label:after {
  content: ':';
  display: inline-block;
}
.single-product.auxshp-template-sticky .aux-content-top-margin .aux-primary {
  padding-top: 0;
}
.single-product.auxshp-template-sticky .aux-primary {
  padding-top: 0;
}
.single-product.auxshp-template-sticky .no-sidebar .images {
  margin-left: -35px;
  padding-right: 0;
  width: 50%;
  margin-bottom: 4em;
}
@media screen and (max-width: 767px) {
  .aux-resp.single-product.auxshp-template-sticky .images {
    margin-left: 0;
    width: 100%;
  }
}
.single-product.auxshp-template-sticky .summary {
  padding-top: 3.4375em;
}
.single-product.auxshp-template-sticky .summary .onsale {
  margin-top: 3.4375em;
}
.single-product.auxshp-template-sticky .images {
  margin-bottom: 30px;
}
.single-product.auxshp-template-stack .images figure {
  margin-bottom: 30px;
}
.single-product.auxshp-template-grid .woocommerce-tabs .tabs li.active, .single-product.auxshp-template-stack .woocommerce-tabs .tabs li.active {
  border-bottom: 1px solid #FFFFFF;
}

@media screen and (max-width: 767px) {
  .aux-resp.auxshp-template-stack .type-product .aux-sticky, .aux-resp.auxshp-template-sticky .type-product .aux-sticky {
    position: relative;
    top: 0 !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
}

.products-loop .type-product img {
  width: 100%;
}
.products-loop .type-product .onsale {
  top: 20px;
  right: 20px;
}
.products-loop .type-product .price {
  display: block;
  margin-bottom: 5px;
}
.products-loop .type-product .price .amount {
  font-size: 1.75em;
  font-weight: 600;
}
.auxshp-template-wide .products-loop .type-product .price .amount, .auxshp-template-wide-center .products-loop .type-product .price .amount {
  font-size: 1.125em;
}
.products-loop .type-product .price ins .amount {
  font-size: 1.75em;
  font-weight: 600;
}
.auxshp-template-wide .products-loop .type-product .price ins, .auxshp-template-wide-center .products-loop .type-product .price ins {
  font-size: 1.125em;
}
.products-loop .type-product .price del .amount {
  font-size: 1em;
  font-weight: 500;
}
.auxshp-template-wide .products-loop .type-product .price del, .auxshp-template-wide-center .products-loop .type-product .price del {
  font-size: 0.75em;
}
.products-loop .type-product .auxshp-loop-title {
  font-size: 1.125em;
  margin: 30px 0 7px 0;
  padding: 0;
}
.auxshp-template-wide .products-loop .type-product .auxshp-loop-title, .auxshp-template-wide-center .products-loop .type-product .auxshp-loop-title {
  margin: 28px 0 4px 0;
}
.products-loop .type-product .entry-info a {
  color: #AAA;
  font-size: 0.875em;
}
.products-loop .type-product .entry-info a:after {
  content: ' , ';
}
.products-loop .type-product .entry-info a:last-child:after {
  content: '';
}
.products-loop .type-product .star-rating {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: 7px;
}
.products-loop .type-product .product_meta {
  margin-bottom: 0;
}
.products-loop .type-product .product_meta .auxshp-meta-terms {
  color: #BBB;
  font-size: 0.9em;
}

.woocommerce .woocommerce-MyAccount-navigation {
  display: inline-block;
  width: 30%;
}
.woocommerce .woocommerce-MyAccount-navigation ul li {
  list-style: none;
  padding: 0 0 1.375em 3.125em;
  position: relative;
}
.woocommerce .woocommerce-MyAccount-navigation ul li a {
  color: #3D3D3D;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
}
.woocommerce .woocommerce-MyAccount-navigation ul li:before {
  font-family: "auxin-front" !important;
  font-size: 23px;
  line-height: 1;
  position: absolute;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard:before {
  content: "\e050";
  left: 0;
  top: 2px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders:before {
  content: "\e625";
  left: 0;
  top: 2px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders:before {
  content: "\e625";
  left: 0;
  top: 2px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads:before {
  content: "\49";
  left: 0;
  top: 4px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address:before {
  content: "\e06d";
  left: 0;
  top: 4px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account:before {
  content: "\e07e";
  left: 0;
  top: 2px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout:before {
  content: "\e089";
  left: 0;
  top: 2px;
}
.woocommerce .woocommerce-MyAccount-navigation ul .is-active a {
  font-weight: 600;
}
.woocommerce .woocommerce-MyAccount-content {
  width: 68%;
  float: right;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-form-row {
  margin-bottom: 32px;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-form-row label {
  font-size: 1.25em;
  padding: 0 0 19px 0;
  line-height: 1;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-Input {
  width: 100%;
  padding: 1.25em;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset legend {
  padding: 45px 0px 43px 0;
  font-weight: 600;
  font-size: 1.5em;
}
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-Button {
  padding: 30px 70px;
}
.woocommerce .woocomerce-form.woocommerce-form-login {
  width: 50%;
  margin: 0 auto;
  padding: 40px 50px 19px 50px;
  border: 1px solid #BBB;
}
.woocommerce .woocomerce-form.woocommerce-form-login .woocommerce-form-row {
  margin-bottom: 18px;
}
.woocommerce .woocomerce-form.woocommerce-form-login .woocommerce-form-row label {
  font-size: 1.25em;
  padding: 14px 0 18px 0;
  line-height: 1;
}
.woocommerce .woocomerce-form.woocommerce-form-login .woocommerce-Input {
  width: 100%;
  padding: 1.25em 1.25em 1.3125em 1.25em;
}
.woocommerce .woocomerce-form.woocommerce-form-login .form-row .woocommerce-Button {
  padding: 32px;
  display: block;
  width: 100%;
  margin: 33px 0 23px 0;
}
.woocommerce .woocomerce-form.woocommerce-form-login .form-row .woocommerce-form__label-for-checkbox .woocommerce-form__input-checkbox#rememberme + span:before {
  top: 2px;
}
.woocommerce .woocomerce-form.woocommerce-form-login .form-row .woocommerce-form__label-for-checkbox .woocommerce-form__input-checkbox#rememberme + span:after {
  top: 7px;
}
.woocommerce .woocomerce-form.woocommerce-form-login .form-row .woocommerce-form__label-for-checkbox span {
  font-weight: 400;
  font-size: 20px;
}
.woocommerce .woocomerce-form.woocommerce-form-login .woocommerce-LostPassword {
  display: inline-block;
  float: right;
  margin-top: -53px;
}
.woocommerce .woocommerce-Addresses .woocommerce-Address {
  border-top: 1px solid #BBB;
  margin-top: 50px;
  padding: 37px 0 7px 0;
}
.woocommerce .woocommerce-Addresses .woocommerce-Address .woocommerce-Address-title {
  position: relative;
}
.woocommerce .woocommerce-Addresses .woocommerce-Address .woocommerce-Address-title .edit {
  background-color: #3D3D3D;
  color: white;
  vertical-align: top;
  font-size: 0.8125em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 30px;
  position: absolute;
  top: 10px;
  right: 0;
}
.woocommerce .woocommerce-Addresses .woocommerce-Address .woocommerce-Address-title .edit:hover {
  background-color: #505050;
}
.woocommerce .woocommerce-Addresses .woocommerce-Address address {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .aux-resp .woocommerce-MyAccount-navigation {
    width: 100%;
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce-MyAccount-navigation {
    width: 100%;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .aux-resp .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
  }
  .aux-resp .woocommerce-MyAccount-content .woocommerce-Button {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .aux-resp .woocomerce-form.woocommerce-form-login {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .aux-resp .woocomerce-form.woocommerce-form-login {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .aux-resp .woocomerce-form.woocommerce-form-login .woocommerce-LostPassword {
    float: none;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .aux-resp .woocommerce-Addresses .woocommerce-Address {
    margin-top: 31px;
    padding: 18px 0 0px 0;
  }
}

.woocommerce-page .onsale {
  position: absolute;
  right: 35px;
  top: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #E84C3D;
  color: #FFFFFF;
  text-align: center;
  line-height: 66px;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
.woocommerce-page .price {
  padding-right: 5em;
  word-break: break-word;
}
@media screen and (max-width: 767px) {
  .aux-resp.woocommerce-page .price {
    padding-right: 0;
  }
}
.woocommerce-page .price > span.woocommerce-Price-amount {
  color: #3D3D3D;
}
.woocommerce-page .price .amount {
  font-size: 3.375em;
  font-weight: 600;
}
.woocommerce-page .price ins {
  color: #3D3D3D;
  background-color: #FFFFFF;
  text-decoration: none;
}
.woocommerce-page .price ins .amount {
  font-size: 3.375em;
  font-weight: 600;
}
.woocommerce-page .price del {
  color: #BBB;
}
.woocommerce-page .price del .amount {
  font-size: 1.375em;
  font-weight: 500;
}
.woocommerce-page .woocommerce-tabs {
  margin-bottom: 4em;
}
.woocommerce-page .woocommerce-tabs .tabs {
  border-bottom: 1px solid #BBB;
}
.woocommerce-page .woocommerce-tabs .tabs li {
  display: block;
  float: left;
  height: auto;
  padding: 0;
  margin-bottom: 1px;
  background: #F9F9F9;
}
.woocommerce-page .woocommerce-tabs .tabs li a {
  display: block;
  width: auto;
  height: 52px;
  padding: 0px 20px;
  line-height: 52px;
  font-weight: 400;
  text-decoration: none;
  color: #AAA;
}
.woocommerce-page .woocommerce-tabs .tabs li.active {
  background: #FFFFFF;
}
.woocommerce-page .woocommerce-tabs .tabs li.active a {
  color: #3D3D3D;
}
.woocommerce-page .woocommerce-tabs .panel {
  padding: 25px 20px;
}
.woocommerce-page .woocommerce-tabs .panel p {
  margin: 0;
}
.woocommerce-page .woocommerce-tabs .auxshp-center-line {
  margin: 4em auto 0;
  width: 50%;
  border-color: #EAEAEA;
}
.woocommerce-page .star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 19px;
  width: 4.1em;
}
.woocommerce-page .star-rating:before {
  content: "\2606\2606\2606\2606\2606";
  color: #3D3D3D;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.woocommerce-page .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.woocommerce-page .star-rating span:before {
  content: "\2605\2605\2605\2605\2605";
  top: 0;
  position: absolute;
  left: 0;
  color: #3D3D3D;
}
.woocommerce-page .stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
}
.woocommerce-page .stars a:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  content: "\2606";
  text-indent: 0;
}
.woocommerce-page .stars a:hover ~ a:before {
  content: "\2606";
}
.woocommerce-page .stars:hover a:before {
  content: "\2605";
}
.woocommerce-page .stars.selected a.active:before {
  content: "\2605";
}
.woocommerce-page .stars.selected a.active ~ a:before {
  content: "\2606";
}
.woocommerce-page .stars.selected a:not(.active):before {
  content: "\2605";
}
.woocommerce-product-rating {
  line-height: 2;
  display: block;
  margin-bottom: 1.25em;
}
.woocommerce-product-rating:after {
  content: "";
  display: table;
  clear: both;
}
.woocommerce-product-rating .star-rating {
  margin: 5px 5px 0 0;
  float: left;
}

.woocommerce-review-link {
  color: #BBB;
  font-size: 0.875em;
  font-weight: 500;
}
.woocommerce-page .quantity {
  position: relative;
  font-size: 100%;
  font-family: inherit;
  border: 1px solid #BBB;
  background: #FFFFFF;
  color: #3D3D3D;
  width: 79px;
}
.woocommerce-page .quantity input {
  font-family: inherit;
}
.woocommerce-page .quantity .ui-corner-all {
  border-radius: 0;
}
.woocommerce-page .quantity input.aux-number {
  width: 77px;
  height: 2.35em;
  padding: 0 25px 2px 19px;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  color: inherit;
  font-size: 1.75em;
  font-weight: 700;
  vertical-align: middle;
  line-height: 1.75;
  border: none;
  border-radius: 0;
  background: #FFFFFF;
}
.woocommerce-page .quantity .ui-spinner-button {
  background: transparent;
  color: #333;
  border: none;
  right: 4px;
  width: 20px;
  height: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
}
.woocommerce-page .quantity .ui-spinner-button.ui-spinner-up {
  top: 0;
  margin-top: 10px;
}
.woocommerce-page .quantity .ui-spinner-button.ui-spinner-up .ui-icon {
  background-image: url("images/controls/arrows/spin-up.png");
  background-repeat: no-repeat;
}
.woocommerce-page .quantity .ui-spinner-button.ui-spinner-down {
  bottom: 0;
  margin-bottom: 3px;
}
.woocommerce-page .quantity .ui-spinner-button.ui-spinner-down .ui-icon {
  background-image: url("images/controls/arrows/spin-down.png");
  background-repeat: no-repeat;
}
.woocommerce-page .quantity .ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}
.woocommerce-page .quantity .ui-spinner .ui-icon {
  position: absolute;
  display: block;
  margin-top: -8px;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  text-indent: -99999px;
  overflow: hidden;
}
.woocommerce-page figure {
  margin: 0;
}
.woocommerce-page .auxshp-lightbox .auxshp-lightbox-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
.woocommerce-page .auxshp-wishlist-wrapper .auxshp-wishlist.available-remove .auxshp-wishlist-icon {
  color: red;
}

.woocommerce .in-stock {
  color: #6DC286;
  font-weight: 600;
}
.woocommerce .out-of-stock {
  color: #E3503E;
  font-weight: 600;
}
.woocommerce .aux-cart-buttons .aux-button {
  padding: 1.5em 2.5em;
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .aux-cart-buttons .aux-button {
    width: 100%;
  }
}
.woocommerce .aux-cart-buttons .aux-input-group {
  position: relative;
}
.woocommerce .aux-cart-buttons .aux-input-group .aux-input-text {
  width: 100%;
  padding: 0.96875em;
  padding-right: 40%;
}
.woocommerce .aux-cart-buttons .aux-input-group .aux-button {
  position: absolute;
  right: 0.15625em;
  top: 0.15625em;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.woocommerce .aux-cart-buttons .aux-input-group .aux-button:hover {
  text-shadow: none;
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .aux-cart-buttons .aux-input-group .aux-button {
    position: inherit;
    width: 100%;
    right: 0;
    top: 1.625em;
  }
}
.woocommerce .form-row label {
  display: block;
  font-weight: 600;
  padding: 0.34375em 0 0.625em;
  font-size: 1.1875em;
}
.woocommerce .form-row label .required {
  border-bottom: none;
  color: #E85B54;
}
.woocommerce .form-row label.checkbox {
  font-size: 1em;
  font-weight: normal;
}
.woocommerce .form-row .aux-input-text {
  padding: 0.90625em 1.25em;
  width: 66%;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .aux-resp .woocommerce .form-row .aux-input-text {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .form-row .aux-input-text {
    width: 100%;
  }
}
.woocommerce .form-row textarea {
  width: 100% !important;
  height: 13em;
}
.woocommerce .aux-shop-table-outline {
  border: 1px solid #BBB;
  overflow-x: auto;
  margin: 1.875em 0;
}
.woocommerce .aux-shop-table {
  border: none;
  padding: 1.43em 1.4em 1.43em 0;
  margin-bottom: 0;
}
.woocommerce .aux-shop-table thead {
  border-bottom: 1px solid #BBB;
}
.woocommerce .aux-shop-table thead tr {
  text-transform: uppercase;
  font-size: 0.8em;
}
.woocommerce .aux-shop-table thead tr th {
  border: none;
  padding: 1.43em 1.4em 1.43em 0;
  background-color: white;
  color: #AAA;
  font-size: 1.125em;
  font-weight: 600;
}
.woocommerce .aux-shop-table thead tr td {
  border: none;
  padding: 1.43em 1.4em 1.43em 0;
}
.woocommerce .aux-shop-table tbody tr, .woocommerce .aux-shop-table tfoot tr {
  border-bottom: 1px solid #BBB;
}
.woocommerce .aux-shop-table tbody tr th, .woocommerce .aux-shop-table tfoot tr th {
  background-color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9375em;
}
.woocommerce .aux-shop-table tbody tr td, .woocommerce .aux-shop-table tfoot tr td {
  padding: 1.35em 1.2em 1.35em 0;
  border: none;
}
.woocommerce .aux-shop-table tbody tr td:first-child, .woocommerce .aux-shop-table tfoot tr td:first-child {
  padding-left: 1.9em;
}
.woocommerce .aux-shop-table tbody tr td:last-child, .woocommerce .aux-shop-table tfoot tr td:last-child {
  padding-right: 1.9em;
}
.woocommerce .aux-shop-table tbody tr td b, .woocommerce .aux-shop-table tfoot tr td b {
  text-transform: uppercase;
}
.woocommerce .aux-shop-table tbody tr:last-child, .woocommerce .aux-shop-table tfoot tr:last-child {
  border: none;
}
.woocommerce .aux-shop-table tfoot {
  border-top: 1px solid #BBB;
}
.woocommerce .aux-shop-table tfoot th {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.woocommerce .aux-shop-table.shop_cart_totals td, .woocommerce .aux-shop-table.shop_checkout_totals td {
  padding: 1.0625em 1.875em;
}
.woocommerce .aux-shop-table.shop_cart_totals td p, .woocommerce .aux-shop-table.shop_checkout_totals td p {
  margin-top: 0.5625em;
  margin-bottom: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}
.woocommerce .aux-shop-table.shop_cart_totals td #shipping_method, .woocommerce .aux-shop-table.shop_checkout_totals td #shipping_method {
  list-style: none;
  margin-bottom: 0.8em;
}
.woocommerce .aux-shop-table.shop_cart_totals td #shipping_method li, .woocommerce .aux-shop-table.shop_checkout_totals td #shipping_method li {
  border-bottom: 1px dashed #BBB;
  padding: 0.9em 0;
}
.woocommerce .aux-shop-table.shop_cart_totals td #shipping_method li:last-child, .woocommerce .aux-shop-table.shop_checkout_totals td #shipping_method li:last-child {
  border-bottom: none;
}
.woocommerce .aux-shop-table.shop_cart_totals td.product-name, .woocommerce .aux-shop-table.shop_checkout_totals td.product-name {
  padding-left: 0;
}
.woocommerce .aux-shop-table.shop_cart_totals td .shipping-calculator-form, .woocommerce .aux-shop-table.shop_checkout_totals td .shipping-calculator-form {
  margin: 1.43em 0 0.81em;
  padding: 0.4em 0 0.85em 0.09em;
  background-color: #F3F3F3;
  border: 1px solid #BBB;
}
.woocommerce .aux-shop-table.shop_cart_totals td .shipping-calculator-form p, .woocommerce .aux-shop-table.shop_checkout_totals td .shipping-calculator-form p {
  padding: 0.285em 1.1em;
}
.woocommerce .aux-shop-table.shop_cart_totals td .shipping-calculator-form select, .woocommerce .aux-shop-table.shop_checkout_totals td .shipping-calculator-form select {
  width: 100%;
}
.woocommerce .aux-shop-table.shop_cart_totals td .shipping-calculator-form .aux-button, .woocommerce .aux-shop-table.shop_checkout_totals td .shipping-calculator-form .aux-button {
  padding: 1.5em;
}
.woocommerce .aux-shop-table.shop_cart_totals td .shipping-calculator-form .aux-input-text, .woocommerce .aux-shop-table.shop_checkout_totals td .shipping-calculator-form .aux-input-text {
  background: #FFFFFF;
  width: 100%;
}
.woocommerce .aux-shop-table.shop_cart_totals td .shipping-calculator-form .aux-select-element, .woocommerce .aux-shop-table.shop_checkout_totals td .shipping-calculator-form .aux-select-element {
  background-color: white;
  padding: 1em;
}
.woocommerce .aux-shop-table.shop_cart_totals .order-total, .woocommerce .aux-shop-table.shop_checkout_totals .order-total {
  border-top: 1px solid #BBB;
}
.woocommerce .aux-shop-table.shop_cart_totals .order-total strong, .woocommerce .aux-shop-table.shop_checkout_totals .order-total strong {
  font-size: 1.5em;
}
.woocommerce .aux-shop-table.shop_cart_totals th, .woocommerce .aux-shop-table.shop_checkout_totals th {
  padding-left: 1.9em;
}
.woocommerce .aux-shop-table.shop_cart_totals th.product-total, .woocommerce .aux-shop-table.shop_checkout_totals th.product-total {
  padding-right: 3.1em;
}
.woocommerce .aux-shop-table .woocommerce-Price-amount {
  font-weight: 600;
}
.woocommerce .aux-shop-table .product-name, .woocommerce .aux-shop-table .amount {
  font-weight: 600;
}
.woocommerce .aux-shop-table .wp-post-image {
  max-width: 5em;
}
.woocommerce .aux-shop-table .aux-button {
  margin-bottom: 0;
}
.woocommerce .wc-proceed-to-checkout {
  text-align: center;
  padding: 0 1.9em 0.8em;
}
.woocommerce .wc-proceed-to-checkout .checkout-button {
  padding: 2.1375em 3.4375em;
}
.woocommerce .woocommerce-checkout .select2 {
  width: 40% !important;
  margin-bottom: 1.5em;
}
.woocommerce .woocommerce-checkout .select2 .select2-selection {
  padding: 1.6875em 0.625em;
  border-radius: 0;
}
.woocommerce .woocommerce-checkout .select2 .select2-selection .select2-selection__rendered {
  line-height: 0;
  overflow: visible;
}
.woocommerce .woocommerce-checkout .select2 .select2-selection .select2-selection__arrow {
  height: 30px;
  right: 22px;
  width: 20px;
}
.woocommerce .woocommerce-checkout .select2 .select2-selection .select2-selection__arrow b {
  background-color: transparent;
  border: none;
  padding: 1em;
  background-image: url(images/controls/arrows/small-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .woocommerce-checkout .select2 {
    width: 60% !important;
  }
}
.woocommerce .woocommerce-checkout .woocommerce-shipping-fields {
  margin-top: 2.375em;
}
.woocommerce .woocommerce-checkout-payment {
  border: 1px solid #BBB;
  margin: 1.875em 0;
}
.woocommerce .woocommerce-checkout-payment ul {
  list-style: none;
  padding: 0.625em 1.9375em 0;
  margin-bottom: 0.8em;
}
.woocommerce .woocommerce-checkout-payment ul li {
  border-bottom: 1px solid #BBB;
  padding: 0.9em 0;
}
.woocommerce .woocommerce-checkout-payment ul li:last-child {
  border-bottom: none;
}
.woocommerce .woocommerce-checkout-payment ul li label img {
  padding-left: 1.125em;
  padding-right: 0.3125em;
  max-width: 10em;
  height: auto;
}
.woocommerce .woocommerce-checkout-payment .form-row {
  border-top: 1px solid #BBB;
  padding: 1.0625em 1.875em;
}
.woocommerce .woocommerce-checkout-payment .form-row .button {
  margin-top: 1.0625em;
  padding: 2.1375em 3.4375em;
  text-transform: uppercase;
  display: block;
  width: 100%;
}
.woocommerce .woocommerce-invalid {
  position: relative;
}
.woocommerce .woocommerce-invalid input {
  border-color: #E74C36 !important;
  color: #E74C36 !important;
}
.woocommerce .woocommerce-invalid:after {
  content: "\0021";
  color: #fff;
  line-height: 1.45;
  font-weight: 600;
  font-size: 0.9em;
  text-align: center;
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  right: 36.5%;
  top: 4.5em;
  border-radius: 50%;
  background: #E74C36;
  -webkit-animation: fadeInForm 1.1s;
  animation: fadeInForm 1.1s;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .aux-resp .woocommerce .woocommerce-invalid:after {
    right: 2%;
  }
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .woocommerce-invalid:after {
    right: 3%;
  }
}
.woocommerce .woocommerce-invalid .validation-message {
  position: absolute;
  top: 1em;
  right: 34%;
  font-size: 0.85em;
  font-style: italic;
  color: #E74C36;
  -webkit-animation: fadeInForm 0.7s;
  animation: fadeInForm 0.7s;
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .woocommerce-invalid .validation-message {
    right: 0;
    display: block;
    position: inherit;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .aux-resp .woocommerce .woocommerce-invalid .validation-message {
    right: 0;
  }
}
@-webkit-keyframes fadeInForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .product-thumbnail {
    display: none;
  }
}

.related-products, .upsells {
  margin-bottom: 4em;
}
.related-products.aux-text-align-center .price, .upsells.aux-text-align-center .price {
  padding-right: 0;
}
.related-products > .widget-title, .upsells > .widget-title {
  margin-bottom: 1.25em;
}
.related-products .type-product, .upsells .type-product {
  position: relative;
}
.related-products.auxshp-no-margin, .upsells.auxshp-no-margin {
  margin-left: -35px;
  margin-right: -35px;
}

/**
 * Woocommerce Tables Styles
 */
.woocommerce .shop_table {
  border-collapse: collapse;
  border: 1px solid #BBB;
}
.woocommerce .shop_table a {
  font-weight: 600;
}
.woocommerce .shop_table thead tr th {
  border: none;
  border-bottom: 1px solid #BBB;
  background-color: transparent;
  color: #AAA;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 27px 25px 20px 25px;
}
.woocommerce .shop_table thead tr th.download-remaining {
  text-align: center;
}
.woocommerce .shop_table tbody tr td, .woocommerce .shop_table .aux-shop-table tfoot tr td, .woocommerce .aux-shop-table .shop_table tfoot tr td {
  border: none;
  position: relative;
  overflow: hidden;
  padding: 58px 24px;
}
.woocommerce .shop_table tbody tr td:last-child:after, .woocommerce .shop_table .aux-shop-table tfoot tr td:last-child:after, .woocommerce .aux-shop-table .shop_table tfoot tr td:last-child:after {
  left: -25px;
}
.woocommerce .shop_table tbody tr td:first-child:after, .woocommerce .shop_table .aux-shop-table tfoot tr td:first-child:after, .woocommerce .aux-shop-table .shop_table tfoot tr td:first-child:after {
  left: 25px;
}
.woocommerce .shop_table tbody tr td:after, .woocommerce .shop_table .aux-shop-table tfoot tr td:after, .woocommerce .aux-shop-table .shop_table tfoot tr td:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #BBB;
}
.woocommerce .shop_table tbody tr td.download-remaining, .woocommerce .shop_table .aux-shop-table tfoot tr td.download-remaining, .woocommerce .aux-shop-table .shop_table tfoot tr td.download-remaining {
  text-align: center;
}
.woocommerce .shop_table tbody tr td.woocommerce-orders-table__cell-order-status, .woocommerce .shop_table .aux-shop-table tfoot tr td.woocommerce-orders-table__cell-order-status, .woocommerce .aux-shop-table .shop_table tfoot tr td.woocommerce-orders-table__cell-order-status {
  font-weight: bold;
}
.woocommerce .shop_table tbody tr td .woocommerce-button, .woocommerce .shop_table .aux-shop-table tfoot tr td .woocommerce-button, .woocommerce .aux-shop-table .shop_table tfoot tr td .woocommerce-button {
  margin: 0;
  padding: 12px 53px;
  background-color: #3D3D3D;
  color: white;
  font-size: 0.8125em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline;
}
.woocommerce .shop_table tbody tr td .woocommerce-button:hover, .woocommerce .shop_table .aux-shop-table tfoot tr td .woocommerce-button:hover, .woocommerce .aux-shop-table .shop_table tfoot tr td .woocommerce-button:hover {
  background-color: #505050;
}
.woocommerce .shop_table tbody tr:last-child td:after, .woocommerce .shop_table .aux-shop-table tfoot tr:last-child td:after, .woocommerce .aux-shop-table .shop_table tfoot tr:last-child td:after {
  display: none;
}

/**
 * Woocommerce Tables Styles Media Queries
 */
@media screen and (max-width: 767px) {
  .aux-resp .woocommerce .shop_table thead {
    display: none;
  }
  .aux-resp .woocommerce .shop_table tbody tr td, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td {
    display: block;
    text-align: right;
    padding: 26px 30px 16px 30px;
  }
  .aux-resp .woocommerce .shop_table tbody tr td:before, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td:before, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td:before {
    content: attr(data-title);
    float: left;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
  }
  .aux-resp .woocommerce .shop_table tbody tr td:after, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td:after, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td:after {
    width: 90%;
    right: 0;
    margin: 0 auto;
  }
  .aux-resp .woocommerce .shop_table tbody tr td:first-child, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td:first-child, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td:first-child {
    padding: 34px 30px 18px 30px;
  }
  .aux-resp .woocommerce .shop_table tbody tr td:first-child:after, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td:first-child:after, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td:first-child:after {
    left: 0;
  }
  .aux-resp .woocommerce .shop_table tbody tr td:last-child:after, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td:last-child:after, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td:last-child:after {
    left: 0;
    width: 100%;
  }
  .aux-resp .woocommerce .shop_table tbody tr td.download-remaining, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td.download-remaining, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td.download-remaining {
    text-align: right;
  }
  .aux-resp .woocommerce .shop_table tbody tr td.woocommerce-orders-table__cell-order-actions:before, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td.woocommerce-orders-table__cell-order-actions:before, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td.woocommerce-orders-table__cell-order-actions:before {
    float: none;
    display: block;
    text-align: left;
  }
  .aux-resp .woocommerce .shop_table tbody tr td.woocommerce-orders-table__cell-order-actions .woocommerce-button, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr td.woocommerce-orders-table__cell-order-actions .woocommerce-button, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr td.woocommerce-orders-table__cell-order-actions .woocommerce-button {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin: 27px 0;
  }
  .aux-resp .woocommerce .shop_table tbody tr:last-child td:after, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr:last-child td:after, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr:last-child td:after {
    display: block;
  }
  .aux-resp .woocommerce .shop_table tbody tr:last-child td:last-child:after, .aux-resp .woocommerce .shop_table .aux-shop-table tfoot tr:last-child td:last-child:after, .aux-resp .woocommerce .aux-shop-table .shop_table tfoot tr:last-child td:last-child:after {
    display: none;
  }
}
